cython==0.29.33+computecanada
numpy==1.23.0+computecanada
protobuf==3.20.1+computecanada
scikit-learn==0.22.1+computecanada
scipy==1.3.1+computecanada
torch==1.12.1+computecanada
torchvision===0.13.1+torch1121.computecanada
tqdm==4.40.2+computecanada
tensorboardx==1.8+computecanada
tensorboard==1.13.1+computecanada
